*.svg
*.blend1

**/output/.gitignore
**/config/.gitignore

original_code.js
**/*.gcode


# rust
**/debug/
**/target/
**/Cargo.lock
**/*.rs.bk
whiskers/fish_pond/.vscode/launch.json

# python
*.pyc
fonts/**/*
plotter_art_utils/src/plotter_art_utils.egg-info/*
plotter_art_utils/dist
plotter_art_utils/build
